body {
	background-color: #3EA4B2;
	color: white;
	font-family: 'Trebuchet MS', sans-serif;
}

h1{
	margin: auto;
	display: inline-block;
	text-align: center;
}

h1.qsg{
	padding: 8px;
	background-color: #027585;
}