.hexagon1 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #e62739;
	background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
	margin: 28.87px 0;
  }
  
  .hexagon1:before,
  .hexagon1:after {
    content: "";
    position: absolute;
    width: 10;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon1:before {
    bottom: 100%;
    border-bottom: 28.87px solid #e62739;
  }
  
  .hexagon1:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #e62739;
  }
   
  .hexagon2 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #00303F;
	background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
    margin: 28.87px 0;
  }
  
  .hexagon2:before,
  .hexagon2:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon2:before {
    bottom: 100%;
    border-bottom: 28.87px solid #00303F;
  }
  
  .hexagon2:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #00303F;
  }

  .hexagon3 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #DCAE1D;
	background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
    margin: 28.87px 0;
  }
  
  .hexagon3:before,
  .hexagon3:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon3:before {
    bottom: 100%;
    border-bottom: 28.87px solid #DCAE1D;
  }
  
  .hexagon3:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #DCAE1D;
  }

  .hexagon4 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #28794B;
	background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
    margin: 28.87px 0;
  }
  
  .hexagon4:before,
  .hexagon4:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon4:before {
    bottom: 100%;
    border-bottom: 28.87px solid #28794B;
  }
  
  .hexagon4:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #28794B;
  }

  .hexagon5 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #FF4900;
	background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
    margin: 28.87px 0;
  }
  
  .hexagon5:before,
  .hexagon5:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon5:before {
    bottom: 100%;
    border-bottom: 28.87px solid #FF4900;
  }
  
  .hexagon5:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #FF4900;
  }

  .hexagon6 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #560864;
	  background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	  background-position: center;
	  background-repeat: no-repeat;
	  text-align: left;
    margin: 28.87px 0;
  }
  
  .hexagon6:before,
  .hexagon6:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon6:before {
    bottom: 100%;
    border-bottom: 28.87px solid #560864;
  }
  
  .hexagon6:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #560864;
  }

  .hexagon7 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: gray;
    margin: 28.87px 0;
  }
  
  .hexagon7:before,
  .hexagon7:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon7:before {
    bottom: 100%;
    border-bottom: 28.87px solid gray;
  }
  
  .hexagon7:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid gray;
  }

  .hexagon8 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #f265da;
    background-image: url("http://oi67.tinypic.com/2m2xnog.jpg");
    background-size: 25px;
	  background-position: center;
	  background-repeat: no-repeat;
    margin: 28.87px 0;
  }
  
  .hexagon8:before,
  .hexagon8:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon8:before {
    bottom: 100%;
    border-bottom: 28.87px solid #f265da;
  }
  
  .hexagon8:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #f265da;
  }

  .hexagon9 {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #7fdcef;
    margin: 28.87px 0;
  }

  .hexagon9:before,
  .hexagon9:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon9:before {
    bottom: 100%;
    border-bottom: 28.87px solid #7fdcef;
  }
  
  .hexagon9:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #7fdcef;
  }
