
#overlay{
    /* some styles to position the modal at the center of the page */

    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    line-height: 200px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    background-color: #f1c40f;
    text-align: center;

    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
.select-divs{
    line-height: 0px;
}
td{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
