#fade {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

}
#board{
    display: block
}
td, th,tr{
    display: block;
    color: black; !important
}
button{
    color: black;
}
/* #overlay {
    position: absolute;
    display: none;
    width: 75%;
    height: 75%;
    background-color: rgba(63, 191, 191, 1);
    z-index: 2;
    cursor: pointer;
} */
html, body {
    margin: 0;
    min-height: 100%;
}
body {
    position: relative; /* needed for the overlay to extend when you scroll */
    /* general styles */
    padding: 30px;
    background-color: #07889B;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
/* .overlay_container{ */

#overlay{
    /* some styles to position the modal at the center of the page */

    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    line-height: 200px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    background-color: #f1c40f;
    text-align: center;

    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
.select-divs{
    line-height: 0px;
}
td{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
