<!DOCTYPE html>
<html>
	<head>
		<link  href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
		<title>{% block title %}Quick Strategy Game{% endblock %}</title>
		{% block script %}{% endblock %}
	</head>
	<body>
		{% if username and username != ""%}
			<a href= "{{ url_for("logout") }}">Logout</a>
		{% else %}
			<a href= "{{ url_for("login") }}">Login</a>
		{%endif%}
		<br/>
		<br/>
		<h1 class="qsg">Quick Strategy Game</h1>
		<div>
		<br/>
		{% block body %}
		{% endblock %}
		</div>
	</body>
</html>
