{% extends "base.html" %}

{% block body %}
	<a href= "{{ url_for("leaderboard") }}">Leaderboard</a>
	<br/><br/>
	<h1 class="lobby"> Welcome to the Lobby! </h1>
	<br/>
	<h1> Available Rooms for {{ username }}: </h1>
	<br/>
	<br/>
	{% if games %}
	<ul>
		{% for g in games %}
		<li>
			<a href = "{{ url_for("map", game_id = g.game_id ) }}" >{{ g.name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<h2>Currently no games available</h2>
	{% endif %}
	<br/>
	<form action="" method="post">
		New game name:<input type="text" name="gameName" />
		<br/>
		<input type="submit" value="Create new game!"/>
	</form>
{% endblock %}