    <head>
        <title>Quick Strategy Game</title>
        <link  href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
        <link  href= "{{ url_for('static', filename='css/hex.css') }}" rel="stylesheet" type="text/css">
        <link  href= "{{ url_for('static', filename='css/map.css') }}" rel="stylesheet" type="text/css">
        <link  href= "{{ url_for('static', filename='css/trade.css') }}" rel="stylesheet" type="text/css">
        <link  href= "{{ url_for('static', filename='css/tile-info.css') }}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/trading.js') }}" type = "text/javascript"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}" type = "text/javascript"></script>
        <script src="{{ url_for('static', filename='js/timer.js') }}" type = "text/javascript"></script>
        <style>
            body{
                background-color:  #8CDFC2;
                font-family: 'Trebuchet MS', sans-serif;
                color: white;
            }
            h1{
                margin: auto;
                display: inline-block;
                background-color: #7A9D96;
                padding: 8px;
            }
            h1.qsg{
                text-align: center;
                background-color: #7A9D96;
            }
        </style>
    </head>
    <script>
    console.log('{{game.game_id}}')
    console.log('{{game.game_id}}')
    console.log('{{game.game_id}}')
    assign_game('{{game.game_id}}', '{{session['username']}}');
    console.log('{{ session["username"] }}')
    x = '{{ session["username"] }}';
    localStorage.setItem('usrname', '{{ session["username"] }}')
    </script>
    <body >

        <!-- <style>
            h1 {background-color: gray}
        </style> -->



        {%block body%}
        <h1 class="qsg">Quick Strategy Game</h1>
        <br/>
        <br/>
        <!-- <h1 class="text-center">Money: 0; Territories: 0 <button class="btn btn-primary  btn-inline" onclick="trade({{game.game_id}}, '{{session['username']}}')">Trade</button></h1> -->

        <h1 class="text-center" id="stats_display">Money: 0; Territories: 0 <button class="btn btn-primary  btn-inline" onclick="trade({{game.game_id}}, '{{session['username']}}')">Trade</button></h1>
        <div id="countdown"></div>
        <p id="turnLabel"></p>
        <button text="DONE" onclick='button_pushed()'></button>
        <span id="board">
            <div style="position: absolute; top: 100px; left: 700px;" >
            <div id = "02" ondblclick="add_troops(id)" onmouseout = "end_hover('02', 'hexagon7')" onmouseover = "hover('02')" onclick = "clicked('02')"  class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;" >
            <div id = "11" ondblclick="add_troops(id)" onclick = "clicked('11')" onmouseout = "end_hover('11', 'hexagon7')" onmouseover = "hover('11')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;" >
            <div id = "21" ondblclick="add_troops(id)" onclick = "clicked('21')" onmouseout = "end_hover('21', 'hexagon7')" onmouseover = "hover('21')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;" >
            <div id = "30" ondblclick="add_troops(id)" onclick = "clicked('30')" onmouseout = "end_hover('30', 'hexagon7')" onmouseover = "hover('30')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;" >
            <div id = "40" ondblclick="add_troops(id)" onclick = "clicked('40')" onmouseout = "end_hover('40', 'hexagon7')" onmouseover = "hover('40')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left:54px;">
            <div id = "50" ondblclick="add_troops(id)" onclick = "clicked('50')" onmouseout = "end_hover('50', 'hexagon7')" onmouseover = "hover('50')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: -90px; left:54px;">
            <div id = "41" ondblclick="add_troops(id)" onclick = "clicked('41')" onmouseout = "end_hover('41', 'hexagon7')" onmouseover = "hover('41')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: -90px; left:54px;">
            <div id = "31" ondblclick="add_troops(id)" onclick = "clicked('31')" onmouseout = "end_hover('31', 'hexagon7')" onmouseover = "hover('31')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: -90px; left:54px;">
            <div id = "22" ondblclick="add_troops(id)" onclick = "clicked('22')" onmouseout = "end_hover('22', 'hexagon7')" onmouseover = "hover('22')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: -90px; left:54px;">
            <div id = "12" ondblclick="add_troops(id)" onclick = "clicked('12')" onmouseout = "end_hover('12', 'hexagon7')" onmouseover = "hover('12')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: -90px; left:54px;">
            <div id = "03" ondblclick="add_troops(id)" onclick = "clicked('03')" onmouseout = "end_hover('03', 'hexagon7')" onmouseover = "hover('03')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top: 0px; left: 108px;">
            <div id = "04" ondblclick="add_troops(id)" onclick = "clicked('04')" onmouseout = "end_hover('04', 'hexagon7')" onmouseover = "hover('04')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "13" ondblclick="add_troops(id)" onclick = "clicked('13')" onmouseout = "end_hover('13', 'hexagon7')" onmouseover = "hover('13')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "23" ondblclick="add_troops(id)" onclick = "clicked('23')" onmouseout = "end_hover('23', 'hexagon7')" onmouseover = "hover('23')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "32" ondblclick="add_troops(id)" onclick = "clicked('32')" onmouseout = "end_hover('32', 'hexagon7')" onmouseover = "hover('32')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "42" ondblclick="add_troops(id)" onclick = "clicked('42')" onmouseout = "end_hover('42', 'hexagon7')" onmouseover = "hover('42')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "51" ondblclick="add_troops(id)" onclick = "clicked('51')" onmouseout = "end_hover('51', 'hexagon7')" onmouseover = "hover('51')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

            <div style="position: absolute; top:90px; left: -54px;">
            <div id = "61" ondblclick="add_troops(id)" onclick = "clicked('61')" onmouseout = "end_hover('61', 'hexagon7')" onmouseover = "hover('61')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left:54px;">
            <div id = "71" ondblclick="add_troops(id)" onclick = "clicked('71')" onmouseout = "end_hover('71', 'hexagon7')" onmouseover = "hover('71')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "62" ondblclick="add_troops(id)" onclick = "clicked('62')" onmouseout = "end_hover('62', 'hexagon7')" onmouseover = "hover('62')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "52" ondblclick="add_troops(id)" onclick = "clicked('52')" onmouseout = "end_hover('52', 'hexagon7')" onmouseover = "hover('52')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "43" ondblclick="add_troops(id)" onclick = "clicked('43')" onmouseout = "end_hover('43', 'hexagon7')" onmouseover = "hover('43')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "33" ondblclick="add_troops(id)" onclick = "clicked('33')" onmouseout = "end_hover('33', 'hexagon7')" onmouseover = "hover('33')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "24" ondblclick="add_troops(id)" onclick = "clicked('24')" onmouseout = "end_hover('24', 'hexagon7')" onmouseover = "hover('24')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "14" ondblclick="add_troops(id)" onclick = "clicked('14')" onmouseout = "end_hover('14', 'hexagon7')" onmouseover = "hover('14')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "05" ondblclick="add_troops(id)" onclick = "clicked('05')" onmouseout = "end_hover('05', 'hexagon7')" onmouseover = "hover('05')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: 0px; left: 108px;">
            <div id = "06" ondblclick="add_troops(id)" onclick = "clicked('06')" onmouseout = "end_hover('06', 'hexagon7')" onmouseover = "hover('06')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "15" ondblclick="add_troops(id)" onclick = "clicked('15')" onmouseout = "end_hover('15', 'hexagon7')" onmouseover = "hover('15')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "25" ondblclick="add_troops(id)" onclick = "clicked('25')" onmouseout = "end_hover('25', 'hexagon7')" onmouseover = "hover('25')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "34" ondblclick="add_troops(id)" onclick = "clicked('34')" onmouseout = "end_hover('34', 'hexagon7')" onmouseover = "hover('34')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "44" ondblclick="add_troops(id)" onclick = "clicked('44')" onmouseout = "end_hover('44', 'hexagon7')" onmouseover = "hover('44')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "53" ondblclick="add_troops(id)" onclick = "clicked('53')" onmouseout = "end_hover('53', 'hexagon7')" onmouseover = "hover('53')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "63" ondblclick="add_troops(id)" onclick = "clicked('63')" onmouseout = "end_hover('63', 'hexagon7')" onmouseover = "hover('63')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "72" ondblclick="add_troops(id)" onclick = "clicked('72')" onmouseout = "end_hover('72', 'hexagon7')" onmouseover = "hover('72')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "82" ondblclick="add_troops(id)" onclick = "clicked('82')" onmouseout = "end_hover('82', 'hexagon7')" onmouseover = "hover('82')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: 0px; left: 108px;">
            <div id = "83" ondblclick="add_troops(id)" onclick = "clicked('83')" onmouseout = "end_hover('83', 'hexagon7')" onmouseover = "hover('83')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "73" ondblclick="add_troops(id)" onclick = "clicked('73')" onmouseout = "end_hover('73', 'hexagon7')" onmouseover = "hover('73')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "64" ondblclick="add_troops(id)" onclick = "clicked('64')" onmouseout = "end_hover('64', 'hexagon7')" onmouseover = "hover('64')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "54" ondblclick="add_troops(id)" onclick = "clicked('54')" onmouseout = "end_hover('54', 'hexagon7')" onmouseover = "hover('54')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "45" ondblclick="add_troops(id)" onclick = "clicked('45')" onmouseout = "end_hover('45', 'hexagon7')" onmouseover = "hover('45')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "35" ondblclick="add_troops(id)" onclick = "clicked('35')" onmouseout = "end_hover('35', 'hexagon7')" onmouseover = "hover('35')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "26" ondblclick="add_troops(id)" onclick = "clicked('26')" onmouseout = "end_hover('26', 'hexagon7')" onmouseover = "hover('26')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "16" ondblclick="add_troops(id)" onclick = "clicked('16')" onmouseout = "end_hover('16', 'hexagon7')" onmouseover = "hover('16')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left:54px;">
            <div id = "27" ondblclick="add_troops(id)" onclick = "clicked('27')" onmouseout = "end_hover('27', 'hexagon7')" onmouseover = "hover('27')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "36" ondblclick="add_troops(id)" onclick = "clicked('36')" onmouseout = "end_hover('36', 'hexagon7')" onmouseover = "hover('36')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "46" ondblclick="add_troops(id)" onclick = "clicked('46')" onmouseout = "end_hover('46', 'hexagon7')" onmouseover = "hover('46')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "55" ondblclick="add_troops(id)" onclick = "clicked('55')" onmouseout = "end_hover('55', 'hexagon7')" onmouseover = "hover('55')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "65" ondblclick="add_troops(id)" onclick = "clicked('65')" onmouseout = "end_hover('65', 'hexagon7')" onmouseover = "hover('65')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "74" ondblclick="add_troops(id)" onclick = "clicked('74')" onmouseout = "end_hover('74', 'hexagon7')" onmouseover = "hover('74')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "84" ondblclick="add_troops(id)" onclick = "clicked('84')" onmouseout = "end_hover('84', 'hexagon7')" onmouseover = "hover('84')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: 0px; left: 108px;">
            <div id = "85" ondblclick="add_troops(id)" onclick = "clicked('85')" onmouseout = "end_hover('85', 'hexagon7')" onmouseover = "hover('85')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "75" ondblclick="add_troops(id)" onclick = "clicked('75')" onmouseout = "end_hover('75', 'hexagon7')" onmouseover = "hover('75')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "66" ondblclick="add_troops(id)" onclick = "clicked('66')" onmouseout = "end_hover('66', 'hexagon7')" onmouseover = "hover('66')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "56" ondblclick="add_troops(id)" onclick = "clicked('56')" onmouseout = "end_hover('56', 'hexagon7')" onmouseover = "hover('56')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "47" ondblclick="add_troops(id)" onclick = "clicked('47')" onmouseout = "end_hover('47', 'hexagon7')" onmouseover = "hover('47')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top: -90px; left:54px;">
            <div id = "37" ondblclick="add_troops(id)" onclick = "clicked('37')" onmouseout = "end_hover('37', 'hexagon7')" onmouseover = "hover('37')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left:54px;">
            <div id = "48" ondblclick="add_troops(id)" onclick = "clicked('48')" onmouseout = "end_hover('48', 'hexagon7')" onmouseover = "hover('48')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "57" ondblclick="add_troops(id)" onclick = "clicked('57')" onmouseout = "end_hover('57', 'hexagon7')" onmouseover = "hover('57')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "67" ondblclick="add_troops(id)" onclick = "clicked('67')" onmouseout = "end_hover('67', 'hexagon7')" onmouseover = "hover('67')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "76" ondblclick="add_troops(id)" onclick = "clicked('76')" onmouseout = "end_hover('76', 'hexagon7')" onmouseover = "hover('76')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>

			<div style="position: absolute; top:90px; left: -54px;">
            <div id = "86" ondblclick="add_troops(id)" onclick = "clicked('86')" onmouseout = "end_hover('86', 'hexagon7')" onmouseover = "hover('86')" class="hexagon7" style="position: relative; "><p style="padding: 15px 27px; font-size:180%"></p></div>
        </span>
    </body>
    {%endblock%}
