<!DOCTYPE html>
<html>
    <head>
        <title>QSG</title>
        <link rel="stylesheet" type="text/css" href="../static/hex.css">
        <script type = "text/javascript">

        var data = JSON.stringify({
"game": {
    "gameOver": false,
    "game_id": 1
  },
  "game_id": 1,
  "gameboard_id": 1,
  "tiles": [
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 0,
      "territoryName": "dumb",
      "tile_id": 1,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 2,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 3,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 4,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 5,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 6,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 7,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 8,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 0,
      "territoryName": "Grass",
      "tile_id": 9,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 10,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 11,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 12,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 13,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 14,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 15,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 16,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 17,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 1,
      "territoryName": "Grass",
      "tile_id": 18,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 19,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 20,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 21,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 22,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 23,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 24,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 25,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 26,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 2,
      "territoryName": "Grass",
      "tile_id": 27,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 28,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 29,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 30,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 31,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 32,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 33,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 34,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 35,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 3,
      "territoryName": "Grass",
      "tile_id": 36,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 37,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 38,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 39,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 40,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 41,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 42,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 43,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 44,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 4,
      "territoryName": "Grass",
      "tile_id": 45,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 46,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 47,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 48,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 49,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 50,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 51,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 52,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 53,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 5,
      "territoryName": "Grass",
      "tile_id": 54,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 55,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 56,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 57,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 58,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 59,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 60,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 61,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 62,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 6,
      "territoryName": "Grass",
      "tile_id": 63,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 64,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 65,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 66,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 67,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 68,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 69,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 70,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 71,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 7,
      "territoryName": "Grass",
      "tile_id": 72,
      "unit_count": 0
    },
    {
      "col": 0,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 73,
      "unit_count": 0
    },
    {
      "col": 1,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 74,
      "unit_count": 0
    },
    {
      "col": 2,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 75,
      "unit_count": 0
    },
    {
      "col": 3,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 3,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 76,
      "unit_count": 0
    },
    {
      "col": 4,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 77,
      "unit_count": 0
    },
    {
      "col": 5,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 78,
      "unit_count": 0
    },
    {
      "col": 6,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 79,
      "unit_count": 0
    },
    {
      "col": 7,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 2,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 80,
      "unit_count": 0
    },
    {
      "col": 8,
      "gameboard_id": 1,
      "multiplier": "[0.25, 0.5, 0.75]",
      "player_id": 1,
      "row": 8,
      "territoryName": "Grass",
      "tile_id": 81,
      "unit_count": 0
    }
  ]
});
        //postGameBoard(data);
        postGameBoard(data);

        function postGameBoard(data)
        {
            setTimeout(getGameBoard, 2000)

            var req = new XMLHttpRequest();
            req.open('GET', '/1/gameboard');
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    console.log(req.responseText)
                    getGameBoard();
                }
            }
            req.open("PUT", "/api/gameboard/1", true);
            req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            req.send(data);
        }

        function getGameBoard()
        {
            setTimeout(getGameBoard, 2000)

            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    console.log(req.responseText);
                }
            }
            req.open("GET", "/1/gameboard", true);
            req.send();
        }

        function getGameTurn()
        {
            setTimeout(getGameBoard, 2000)

            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    console.log(req.responseText);
                }
            }
            req.open("GET", "/1/turn", true);
            req.send();
        }

        this.makeRequest = function(method, url, data, callback) {
            var req = new XMLHttpRequest();

            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    callback(req);
                }
            }

            req.open(method, url, true);
            if (data) {
                req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                req.send(data);
            } else {
                req.send();
            }
        }


        </script>



    </body>
</html>
